.green-btn {
	background-color: #00A200;
}

.green-btn:hover {
	background-color: #2EBE42;
}

.red-btn {
	background-color: #CE0C05;
}

.red-btn:hover {
	background-color: #E25A56;
}

.factors .num1 {
	top: 148px;
	margin-left: -451px;
}

.factors .num2 {
	top: 148px;
	margin-left: -158px;
}

.factors .num3 {
	top: 148px;
	margin-left: 81px;
}

.factors .num4 {
	top: 148px;
	margin-left: 366px;
}

.factors .num5 {
	top: 388px;
	margin-left: -316px;
}

.factors .num6 {
	top: 388px;
	margin-left: -48px;
}

.factors .num7 {
	top: 393px;
	margin-left: 188px;
}